<div id="mobileDropdown" class="collapsed">
	{{#data-search-box}}{{>CFrameSearchBox}}{{/data-search-box}}
	<div id="mobilePageLinks">
        {{#data-portlets}}
            <nav id="p-namespaces" class="mw-portlet mw-portlet-namespaces cframe-menu-tabs cframe-menu" aria-labelledby="p-namespaces-label">
                <div class="cframe-menu-content">
                    <ul class="cframe-menu-content-list">
                        {{#data-namespaces}}
                            {{#html-items}}{{{.}}}{{/html-items}}
                        {{/data-namespaces}}
                        {{#data-views}}
                            {{#html-items}}{{{.}}}{{/html-items}}
                        {{/data-views}}
                        {{#data-mobile-actions}}
                            {{#html-items}}{{{.}}}{{/html-items}}
                        {{/data-mobile-actions}}
                        {{#is-anon}}
                            {{#data-mobile-create}}
                                {{#html-item}}{{{.}}}{{/html-item}}
                            {{/data-mobile-create}}
                        {{/is-anon}}

                    </ul>
                </div>
            </nav>
        {{/data-portlets}}
	</div>
	{{>CFrameMobileNavMenu}}
	{{^is-anon}}{{>CFrameMobileUserToolsMenu}}{{/is-anon}}
	{{>CFrameMobilePageToolsMenu}}
	{{>CFrameMobileExtraNavMenu}}
</div>
