<p id="n-userTools">User Pages</p>
<div class="cframe-menu-content">
    <ul class="cframe-menu-content-list">
        {{#data-portlets}}
            {{#data-mobile-personal}}
                {{#html-items}}{{{.}}}{{/html-items}}
            {{/data-mobile-personal}}
        {{/data-portlets}}
    </ul>
</div>
