<p id="n-extraNav">Extra Navigation</p>
<div class="cframe-menu-content">
    <ul class="cframe-menu-content-list">
        {{#data-portlets-sidebar}}
            {{#data-portlets-first}}
                {{#html-items}}{{{.}}}{{/html-items}}
            {{/data-portlets-first}}
        {{/data-portlets-sidebar}}
    </ul>
</div>
