<p id="n-nav">Navigation</p>
<div class="cframe-menu-content">
    <ul class="cframe-menu-content-list">
        {{#data-toplinks}}
            {{#topnav}}
                <li id="{{id}}" class="mw-list-item">{{!
                    }}<a href="{{href}}" title="{{text}}">{{!
                        }}<span>{{text}}</span>{{!
                    }}</a>{{!
                }}</li>
            {{/topnav}}
        {{/data-toplinks}}
    </ul>
</div>
