<div id="notifContainer">{{#data-portlets}}{{#data-notifications}}{{!
}}{{#array-list-items}}{{>MenuListItem}}{{/array-list-items}}{{#html-items}}{{{.}}}{{/html-items}}
{{!
}}{{/data-notifications}}{{/data-portlets}}</div>
