<p id="n-pageTools">Page Tools</p>
<div class="vector-menu-content">
    <ul class="vector-menu-content-list">
        {{#data-portlets}}
            {{#data-mobile-tb}}
                {{#html-items}}{{{.}}}{{/html-items}}
            {{/data-mobile-tb}}
        {{/data-portlets}}
    </ul>
</div>
